.handler {
  width: 100%;
  height: 58px;
  color: #334155;
  font-size: 15px;
  text-transform: uppercase;
}

.neumo {
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
  &:hover {
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #fff;
  }
}

.neumo-active {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #fff;
  &:hover {
    box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
  }
}

.main {
  width: 460px;
}

.main__title {
  color: #334155;
  text-align: center;
}

.main__desc {
  font-size: 13px;
  text-align: center;
  color: #64748b;
  margin-top: 12px;
}

.section {
  width: 100%;
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  background:#e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.section__menu {
  & .menu-list {
    margin-top: 15px;
    margin-bottom: 0;
  }
  & .menu-list__item {
    color: #000;
    cursor: default;
  }
}

.shuffle__wrap {
  width: 100%;
  height: 26px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.shuffle__inner {
  transition: transform 0.5s ease-in-out;
}

.shuffle__item {
  display: block;
  width: 100%;
  height: 26px;
  font-size: 22px;
  font-family: 'NanumSquareRoundB';
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: #334155;
  & + span {
    padding-left: 10px;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(224, 224, 224, 1);
  z-index: 50;
  &.block {
    display: flex;
  }
  &.hidden {
    display: none;
  }
}

.popup__wrap {
  width: 460px;
}
.popup__inner {
  padding: 30px;
  margin-top: 20px;
  border-radius: 15px;
  background:#e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.popup__title {
  font-size: 19px;
  text-align: center;
}
.popup__inner-handler {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__inner-handler .menu-all {
  flex: 1.5;
}
.popup__inner-handler .menu-add {
  flex: 3;
  margin-left: 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #fff;
}
.menu-all__button {
  width: 100%;
  height: 50px;
  text-align: center;
}
.menu-add__input {
  height: 50px;
  width: 100%;
  padding: 0 50px 0 20px;
}
.menu-add__button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  &:hover {
    color: #000;
  }
}
.menu-add__insert {
  width: 100%;
  height: 50px;
  text-align: center;
}

.menu-none {
  font-size: 17px;
  text-align: center;
  margin-top: 30px;
}

.menu-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px 0;
}

.menu-list__item {
  padding: 12px 8px;
  font-size: 14px;
  text-align: center;
  font-family: 'NanumSquareRoundB';
  color: #52525b;
  white-space: nowrap;
  border-radius: 6px;
  background:#e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #fff;
  cursor: pointer;
}

.menu-list__item--active {
  color: #000;
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #fff;
}
